/docs/
/lib/
/bin/
/.shards/
details
config/settings.yml
/overshare
overshare.o
overshare.dwarf
content/public

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
